.content
{
    max-width:850px;
    margin:40px auto;
    padding:0 10px;
    font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#444;
    background: rgb(240, 240, 240);
}

h1,h2,h3
{
    line-height:1.2;
}

a
{
    color: inherit; /* blue colors for links too */
}

@media (prefers-color-scheme: dark)
{
    body
    {
        color:white;background:#444;
    }

    a:link
    {
        color:#5bf;
    }
    
    a:visited
    {
        color:#ccf;
    }
}

a
{
    style: none;
}

.post
{
    -webkit-box-shadow: 0px 0px 140px -46px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 140px -46px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 140px -46px rgba(0,0,0,0.65);
    
    width: 70%;
    margin: 0 auto;
}

.post_inside
{
    margin: 50px;
}

.username
{
    float: right;
}